.surveys-card-bg {
	background-image: url(../img/android_tablet.svg);
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	background-size: contain;
	position: relative;
	top: 0;
	left: 0;
}

.interviewers-card {
	background-image: url(../img/user_male.svg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}
