// Makes the forward slash non-HTML entity
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}


// Gives max width to status badge in Survey List view
.survey-list td.survey-status {
	width: 75px;
	padding-right: 5px;
}


// A subtle delete button for the survey list
.btn-danger-no-outline {
  color: $danger-color;
}

// Color for the domain surveys overview info stats
.surveys-info-total { color: $subtle-color}
.surveys-info-started { color: $new-item-color}
.surveys-info-paused {color: $least-impt-color}
.surveys-info-finished {color: $default-color}


// for specifying locations of dataTable graphic assets 

table.dataTable thead .sorting {
    background: none;
}

table.dataTable thead .sorting_asc {
    background: none;
}

table.dataTable thead .sorting_desc {
    background: none;
}

table.dataTable thead .sorting_asc_disabled {
    background: none;
}

table.dataTable thead .sorting_desc_disabled {
    background: none;
}

// TODO: find a way to turn off the dataTable export buttons programmatically
// Hides the dataTable export buttons 
.DTTT_container {display: none;}

// Gives balanced spacing to the row-number drop down and search box
#DataTables_Table_0_length label,
#DataTables_Table_0_filter label { padding-bottom: 15px;}
#DataTables_Table_0_filter label input.form-control {margin-left: 5px;}

// fixes the spacing issue on pages with panel heading
.page-heading {
  border-top: 0;
  padding: 5px 10px 20px;
}


// Styling table contents
td .survey-status .sorting_1,
td .survey-title,
td .survey-type,
td .survey-client,
td .survey-completes {vertical-align: inherit;}