.label {
  background-color: $light-gray;
  color: $label-badge-color;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
  }

.badge {
  background-color: $light-gray;
  color: $label-badge-color;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
  }

.label-finished {
  background-color: $light-gray;
  color: darken($light-gray, 30%);
}

.label-primary, .badge-primary, .label-constructing  {
  background-color: $primary-color;
  color: white;
  }

.label-success, .badge-success {
  background-color: $success-color;
  color: white;
  }

.label-new-item, .badge-new-item, .label-started, {
  background-color: $new-item-color;
  color: white;
  }

.label-warning, .badge-warning {
  background-color: $warning-color;
  color: white;
  }

.label-warning-light, .badge-warning-light {
  background-color: lighten($warning-color, 05%);
  color: white;
  }

.label-warning-dark, .badge-warning-dark {
background-color: darken($warning-color, 05%);
color: white;
}

.label-danger, .badge-danger {
  background-color: $danger-color;
  color: white;
  }

.label-info, .badge-info {
  background-color: $info-color;
  color: white;
  }

.label-subtle, .badge-subtle, .label-paused  {
  background-color: $subtle-color;
  color: white;
  }

.label-inverse, .badge-inverse {
  background-color: #262626;
  color: white;
  }

.label-white, .badge-white {
  background-color: white;
  color: #5e5e5e;
  }

.label-white, .badge-disable {
  background-color: #2a2e36;
  color: #8b91a0;
  }
