// BASIC COLOR STYLES FROM VARIABLES
.primary-color { color: $primary-color; }
.default-color { color: $default-color; }
.success-color { color: $success-color; }
.info-color { color: $info-color; }
.warning-color { color: $warning-color; }
.danger-color { color: $danger-color; }
.new-item-color { color: $new-item-color; }
.subtle-color { color: $subtle-color; }
.least-impt-color { color: $least-impt-color; }
.nfieldBlue { color: $nfieldBlue; }
.light-gray {color: $light-gray;}

// BACKGROUNDS
.success-bg {
  background-color: $success-color;
  color: white;
}

.warning-bg {
  background-color: $warning-color;
  color: white;
}

.added-item-bg {
  background-color: $new-item-color;
  color: white;
}

.danger-bg {
  background-color: $danger-color;
  color: white;
}

.gray-bg {
  color: gray;
  // background-color: lighten($light-gray, 0%);
}

.white-bg {
  background-color: white;
}

.nfield-blue-bg {
  background-color: $nfieldBlue;
  color: white;
}


// Gives max width to status badge in Survey List view
.survey-list td.survey-status {
  width: 75px;
  padding-right: 5px;
}


// Color for the domain surveys overview info stats
.surveys-info-total { color: $subtle-color}
.surveys-info-started { color: $new-item-color}
.surveys-info-paused {color: $least-impt-color}
.surveys-info-finished {color: $default-color}


// for specifying locations of dataTable graphic assets 

table.dataTable thead .sorting {
    background: none;
}

table.dataTable thead .sorting_asc {
    background: none;
}

table.dataTable thead .sorting_desc {
    background: none;
}

table.dataTable thead .sorting_asc_disabled {
    background: none;
}

table.dataTable thead .sorting_desc_disabled {
    background: none;
}


// Styling table contents
td .survey-status .sorting_1,
td .survey-title,
td .survey-type,
td .survey-client,
td .survey-completes {vertical-align: inherit;}

// TODO: find a way to turn off the dataTable export buttons programmatically

// Hides the dataTable export buttons 
.DTTT_container {display: none;}

// Gives balanced spacing to the row-number drop down and search box
#DataTables_Table_0_length label,
#DataTables_Table_0_filter label { padding-bottom: 15px;}
#DataTables_Table_0_filter label input.form-control {margin-left: 5px;}


//
// PANELS and IBOX STYLES
//

// fixes the spacing issue on pages with panel heading
.page-heading {
  border-top: 0;
  padding: 0 10px 20px 10px;
}

// give more noticeable style to the ibox-header item
.ibox-heading {
  background-color: lighten($subtle-color, 55%);
  border-top: 1px solid lighten($subtle-color, 40%);
  border-bottom: 1px solid lighten($subtle-color, 40%);
}


// Styling the Bootstrap Toggle buttons
span.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 20px;
  border-width: 0 1px;
  border-radius: 0px;
}

span.toggle-handle.btn.btn-default.btn-xs {
  border-color: gray;
  background-color: gray;
}

// Making the logo area smaller to match the header position
.nav-header {
  padding: 13px 25px;
}

body.mini-navbar .nav-header {
  padding-top: 3px;
}


//
// Styles the icons that appear next to buttons and allow for action
//

.action-button {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 10px;
}

.action-button a + a {
  padding-left: 10px;
}

//
// Progress Bar Styles
//

.progress-bar {
  background-color: $nfieldBlue;
}

.progress-bar-warn {
  background-color: $warning-color;
}

.progress-bar-finished {
  background-color: darken($light-gray, 10%);
}

.progress-bar-paused {
  background-color: $subtle-color;
}

.progress-bar-started {
  background-color: $new-item-color;
}

.progress-bar-constructing {
  background-color: $primary-color;
}

.progress-bar-navy-light {
  background-color: #3dc7ab;
}

.progress-bar-success {
  background-color: $blue;
}

.progress-bar-info {
  background-color: $lazur;
}

.progress-bar-warning {
  background-color: $yellow;
}

.progress-bar-danger {
  background-color: $red;
}

.progress-small, 
.progress-small .progress-bar,
.progress-small .progress-bar-warn,
.progress-mini .progress-bar-finished,
.progress-mini .progress-bar-paused,
.progress-mini .progress-bar-started,
.progress-mini .progress-bar-constructing {
  height: 10px;
}

.progress-small, 
.progress-mini {
  margin-top: 5px;
}

.progress-mini, 
.progress-mini .progress-bar,
.progress-mini .progress-bar-warn,
.progress-mini .progress-bar-finished,
.progress-mini .progress-bar-paused,
.progress-mini .progress-bar-started,
.progress-mini .progress-bar-constructing {
  height: 5px;
  margin-bottom: 0px;
}

//
// GENERAL UTILITY CLASS
//

.hide {display: none;}

.h-lg {height: 65px;}