// Button styles specific to Nfield Manager

.btn-primary {
  background-color: $nfieldBlue;
  border-color: darken($nfieldBlue, 3%);
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: darken($nfieldBlue, 5%);
  border-color: darken($nfieldBlue, 5%);
  color: white;
}


.btn-default {
  background-color: $subtle-color;
  border-color: $subtle-color;
  color: white;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: darken($subtle-color, 3%);
  border-color: darken($subtle-color, 3%);
  color: white;
}


// Styles for toggle buttons
.survey-toggle-buttons .btn-default {
  opacity: 0.5;
}

.survey-toggle-buttons .btn-default:active,
.survey-toggle-buttons .btn-default.active {
  color: white; 
  opacity: 1.0;
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: lighten($subtle-color, 4%);
  border-color: lighten($subtle-color, 4%);
}

.btn-info {
  background-color: $info-color;
  border-color: $info-color;
  color: white;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-color: darken($info-color, 3%);
  border-color: darken($info-color, 3%);
  color: white;
}

.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: lighten($info-color, 4%);
  border-color: lighten($info-color, 4%);
}

.btn-add-item {
  background-color: $green;
  border-color: $green;
  color: white;
  transition: all .25s ease-in-out;
}

.btn-add-item:hover, .btn-add-item:focus, .btn-add-item:active, .btn-add-item.active, .open .dropdown-toggle.btn-add-item {
  background-color: darken($green, 3%);
  border-color: darken($green, 3%);
  color: white;
}

.btn-add-item.add-survey:hover{
  background-color: transparent;
  border-color: darken($green, 3%);
  color: darken($green, 3%);
}

.btn-add-item:active, .btn-add-item.active, .open .dropdown-toggle.btn-add-item {
  background-image: none;
}

.btn-add-item.disabled, .btn-add-item.disabled:hover, .btn-add-item.disabled:focus, .btn-add-item.disabled:active, .btn-add-item.disabled.active, .btn-add-item[disabled], .btn-add-item[disabled]:hover, .btn-add-item[disabled]:focus, .btn-add-item[disabled]:active, .btn-add-item.active[disabled], fieldset[disabled] .btn-add-item, fieldset[disabled] .btn-add-item:hover, fieldset[disabled] .btn-add-item:focus, fieldset[disabled] .btn-add-item:active, fieldset[disabled] .btn-add-item.active {
  background-color: lighten($green, 4%);
  border-color: lighten($green, 4%);
}


.btn-least-impt {
  background-color: $least-impt-color;
  border-color: $least-impt-color;
  color: white;
}

.btn-least-impt:hover, .btn-least-impt:focus, .btn-least-impt:active, .btn-least-impt.active, .open .dropdown-toggle.btn-least-impt {
  background-color: darken($least-impt-color, 3%);
  border-color: darken($least-impt-color, 3%);
  color: white;
}

.btn-least-impt:active, .btn-least-impt.active, .open .dropdown-toggle.btn-least-impt {
  background-image: none;
}

.btn-least-impt.disabled, .btn-least-impt.disabled:hover, .btn-least-impt.disabled:focus, .btn-least-impt.disabled:active, .btn-least-impt.disabled.active, .btn-least-impt[disabled], .btn-least-impt[disabled]:hover, .btn-least-impt[disabled]:focus, .btn-least-impt[disabled]:active, .btn-least-impt.active[disabled], fieldset[disabled] .btn-least-impt, fieldset[disabled] .btn-least-impt:hover, fieldset[disabled] .btn-least-impt:focus, fieldset[disabled] .btn-least-impt:active, fieldset[disabled] .btn-least-impt.active {
  background-color: lighten($least-impt-color, 4%);
  border-color: lighten($least-impt-color, 4%);
}

// A subtle delete button for the lists
a.btn.btn-danger-no-outline,
a.btn.btn-danger-no-outline i,
.btn-danger-no-outline {
  color: $danger-color;
}

a.btn.btn-danger-no-outline {
  display: inline-block;
  float: right;
}

// Giving some breathing space to the caret on buttons with carats
.btn .caret {
  margin-left: 15px;
}

//
// TEST aand LIVE CONTROLS
//
.test-controls .panel.panel-info .panel-heading,
.live-controls .panel.panel-info .panel-heading {
  font-size: 1.5em;
}

.test-controls .panel-heading button.btn.btn-primary.dim,
.live-controls .panel-heading button.btn.btn-primary.dim {
  margin: 10px 0 0 10px;
  background-color: #fff;
  padding: 5px 10px;
  vertical-align: middle;
}

.live-controls .panel-heading button.btn.btn-primary.dim.activated,
.live-controls .panel-heading button.btn.btn-primary.dim.activated:focus {
  top: 3px;
  box-shadow: none !important;
  background-color: transparent;
  border-color: white !important;
  color: white !important;
}

//
// TEST CONTROLS
//
.survey-controls .test-controls .panel.panel-info {
    border-color: $least-impt-color;
}

.survey-controls .test-controls .panel.panel-info .panel-heading {
    border-color: $least-impt-color;
    background-color: $least-impt-color;
}

.survey-controls .test-controls .panel-heading button.btn.btn-primary.dim {
    box-shadow: inset 0 0 0 darken($least-impt-color, 30%),0 2px 0 0 darken($least-impt-color, 30%),0 6px 5px darken($least-impt-color, 10%);
    border-color: $least-impt-color;
    color: $least-impt-color;
}


//
// LIVE CONTROLS
//

.survey-controls .live-controls .panel.panel-info {
    border-color: $new-item-color;
}

.survey-controls .live-controls .panel.panel-info .panel-heading {
    border-color: $new-item-color;
    background-color: $new-item-color;
}

.survey-controls .live-controls .panel-heading button.btn.btn-primary.dim {
    box-shadow: inset 0 0 0 darken($new-item-color, 30%),0 2px 0 0 darken($new-item-color, 30%),0 6px 5px darken($new-item-color,10%);
    border-color: $new-item-color;
    color: $new-item-color;
}