.media-list li a {
  color: #666666;
  display: block;
  padding: 5px 0;
}

.media-list li {
  border-bottom: 1px solid $border-color;
  display: block;
  padding: 2px 0;
}

.media-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}