// COLORS

$primary-color: #1ab394;          			// Primary color
$default-color: #c2c2c2;      					// Default color
$success-color: #1c84c6;          			// Success color
$info-color: #23c6c8;          					// Info color
$warning-color: darken(#FFA630, 15%);		// Warrning color
$danger-color: #690303;           			// Danger color
$new-item-color: #52AA5E;								// New item color
$subtle-color: #404E7C;									// Default subtle
$least-impt-color: darken(#c2c2c2,50%); // The darkest color

$light-gray: #d1dade;           		// Default label, badget

// BRAND COLORS
$nfieldBlue: #55A5CC;			// Brand specific color

// Various colors
$label-badge-color: #5e5e5e;