.nav > li.active {
  border-left: 6px solid $nfieldBlue;
  background: darken($nav-bg, 3%);
}

//
// Gives the header proper font size and padding
//
.breadcrumb-big {
  font-weight: 100;
  font-size: 1.7em;
  margin: 0.5em 0 0em;
}

//
// Makes the forward slash non-HTML entity
//
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/";
}

ol.breadcrumb li a:hover {
	color: $nfieldBlue;
}

//
// Styles the username dropdown in topnav
//
.navbar-top-links .dropdown-username {
  width: 185px;
  min-width: 0;
}

.nav.navbar-top-links .dropdown-username a {
  font-size: 12px;
}

.dropdown-username {
  padding: 10px 10px 10px 10px;
}

.dropdown-username li a {
  font-size: 12px;
}

.dropdown-username li em {
  font-size: 10px;
}
