.survey-details {
  	
  	//
		// TITLE STYLES
		//
		span.status-under-construction {
			color: $subtle-color;
		}
		span.status-started {
			color: $new-item-color;
		}

		span.status-paused {
			color: $default-color;
		}

		span.status-finished {
			color: $least-impt-color;
		}

    .ibox-title {
      height: 66px;
      
      .ibox-tools {
        margin-top:5px;
      }
    }

    .ibox-title.value-changed {
      border-color: $warning-color;

      span.label {
          font-size: 0.7em;
          font-weight: 100;
          padding-bottom: 5px;
      }
    }



  	.status-pill {
  			vertical-align: middle;
  			padding: 5px;
  			margin-right: 5px;
  	}

  	.survey-general-settings dl.dl-horizontal * {
  			text-align: left;
  			padding-bottom: 0.2em;
  	}

    //
    // SURVEY CONTROLS
    //

    .play-pause-finish {
        vertical-align: sub;
    }

    .play-pause-finish > a {
        margin-left: 20px;
    }

    .play-pause-finish > a.disabled,
    .play-pause-finish > a.disabled:hover {
        color: darken($new-item-color, 20%);
        cursor: default;
    }

    span.play-pause-finish {
      position: relative;
      top: 3px;
    }

    span.play-pause-finish a {
        color: white;
    }

    span.play-pause-finish a:hover {
        color: $default-color;
    }

}

