// Font
$font-stack: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Basic Colors
$navy: #1ab394;           					// Primary color
$blue: #1c84c6;           					// Success color
$lazur: #23c6c8;          					// Info color
$yellow: #FFA630;         					// Warrning color
$red: #690303;            					// Danger color
$green: #52AA5E;										// New item color

// Various colors
$text-color: #676a6c;           		// Body text
$gray: #f3f3f4;                 		// Background wrapper color
$dark-gray: darken(#c2c2c2, 30%);   // Default color
$light-gray: #d1dade;           		// Default label, badget
$label-badget-color: #5e5e5e;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;   // IBox border
$ibox-title-bg: white;    // IBox Background header
$ibox-content-bg: white;  // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url("patterns/shattered.png");

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2f4050;
$nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
$nav-text-color: #a7b1c2;
